# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
back-dotnet/MoviInfoBack/Application/bin/Debug/net8.0/Application.dll
back-dotnet/MoviInfoBack/Application/bin/Debug/net8.0/Application.pdb
back-dotnet/MoviInfoBack/Application/bin/Debug/net8.0/Domain.dll
back-dotnet/MoviInfoBack/Application/bin/Debug/net8.0/Domain.pdb
back-dotnet/MoviInfoBack/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
back-dotnet/MoviInfoBack/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
back-dotnet/MoviInfoBack/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
back-dotnet/MoviInfoBack/Application/obj/Debug/net8.0/Application.dll
back-dotnet/MoviInfoBack/Application/obj/Debug/net8.0/Application.pdb
back-dotnet/MoviInfoBack/Application/obj/Debug/net8.0/Application.sourcelink.json
back-dotnet/MoviInfoBack/Application/obj/Debug/net8.0/ref/Application.dll
back-dotnet/MoviInfoBack/Application/obj/Debug/net8.0/refint/Application.dll
back-dotnet/MoviInfoBack/Domain/bin/Debug/net8.0/Domain.dll
back-dotnet/MoviInfoBack/Domain/bin/Debug/net8.0/Domain.pdb
back-dotnet/MoviInfoBack/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
back-dotnet/MoviInfoBack/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
back-dotnet/MoviInfoBack/Domain/obj/Debug/net8.0/Domain.dll
back-dotnet/MoviInfoBack/Domain/obj/Debug/net8.0/Domain.pdb
back-dotnet/MoviInfoBack/Domain/obj/Debug/net8.0/Domain.sourcelink.json
back-dotnet/MoviInfoBack/Domain/obj/Debug/net8.0/ref/Domain.dll
back-dotnet/MoviInfoBack/Domain/obj/Debug/net8.0/refint/Domain.dll
back-dotnet/MoviInfoBack/Infraestructure/bin/Debug/net8.0/Application.dll
back-dotnet/MoviInfoBack/Infraestructure/bin/Debug/net8.0/Application.pdb
back-dotnet/MoviInfoBack/Infraestructure/bin/Debug/net8.0/Domain.dll
back-dotnet/MoviInfoBack/Infraestructure/bin/Debug/net8.0/Domain.pdb
back-dotnet/MoviInfoBack/Infraestructure/bin/Debug/net8.0/Infraestructure.dll
back-dotnet/MoviInfoBack/Infraestructure/bin/Debug/net8.0/Infraestructure.pdb
back-dotnet/MoviInfoBack/Infraestructure/obj/Debug/net8.0/Infraestructure.AssemblyInfo.cs
back-dotnet/MoviInfoBack/Infraestructure/obj/Debug/net8.0/Infraestructure.AssemblyInfoInputs.cache
back-dotnet/MoviInfoBack/Infraestructure/obj/Debug/net8.0/Infraestructure.csproj.AssemblyReference.cache
back-dotnet/MoviInfoBack/Infraestructure/obj/Debug/net8.0/Infraestructure.dll
back-dotnet/MoviInfoBack/Infraestructure/obj/Debug/net8.0/Infraestructure.pdb
back-dotnet/MoviInfoBack/Infraestructure/obj/Debug/net8.0/Infraestructure.sourcelink.json
back-dotnet/MoviInfoBack/Infraestructure/obj/Debug/net8.0/ref/Infraestructure.dll
back-dotnet/MoviInfoBack/Infraestructure/obj/Debug/net8.0/refint/Infraestructure.dll
