

.movie-list{
  text-align: center;

  section{
    text-align: center;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 0rem;
    margin: 1rem;
  }
  @media (min-width: 600px) {
    section{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 900px) {
    section{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1200px) {
    section{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  article {
    --size: 345px;   /* the size of the image */

    margin: 2rem;
    max-width: --size;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    a{
      text-decoration: none;
    }

    figure{
      padding: 0px;
      margin: 0px;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      img{
        max-height: 15rem;
        display: inline-block;
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
      figcaption{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.457);
        color: white;
        display: block;
        float: left;
        position: relative;
        bottom: 1.5rem;
      }
    }
    p{
      margin: 1rem;
      text-align: left;
    }

    &:hover{
      img{
        transform: scale3d(1.5,1.5,1);
        transition: transform 3s ease-in-out;
      }
      a{
        color: white;
        transition: all 1s ease-in-out;
      }
      transition: all 1s ease-in-out;
    }
  }
}

.cargando{
  display: inline-block;
  text-align: center;
  font-size: 2rem;  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #1a1a1ab5;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.movie-details{
  text-align: center;
}

header{
  nav{
    position: fixed;
    top:0px;
    left: 0px;
    height: 4rem;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    display: flex;
    width: 100%;
    box-sizing:border-box;
    background-color: #1a1a1ab5;
    color:#ffff;
    vertical-align: middle;
    align-items: center;
    ul{
      font-size: 1.3rem;
      font-weight: 450;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      li{
        a{
          cursor: pointer;
          &:hover{
            color: #dfdbdbd0;  
          }
        }
      }
    }
  }
  h1{
    margin-top: 4rem;
  }
}

.dev-footer{
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}


@media (prefers-color-scheme: light) {
  .movie-list{
    article {
      background-color: white;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
      
      &:hover{
        background-color: rgba(26, 26, 26, 0.834);
        transition: all 1s ease-in-out;
      }
      
    }
  }

  .dev-footer{
    background-color: #1a1a1a9e;
    color: white;
  }
  
}

@media (prefers-color-scheme: dark) {
  header{
    nav{
      background-color: #b1b1b1b5;   
      box-shadow: 0px 2px 4px -1px rgba(255,255,255,0.2),0px 4px 5px 0px rgba(255,255,255,0.14),0px 1px 10px 0px rgba(255,255,255,0.12); 
    }
  }
  .cargando{
    border-top: 16px solid #b1b1b1b5;
  }
  .movie-list{
    article {
      background-color: #585757b5;
      box-shadow: 0px 2px 1px -1px rgba(255,255,255,0.2),0px 1px 1px 0px rgba(255,255,255,0.14),0px 1px 3px 0px rgba(255,255,255,0.12);
      
      &:hover{
        background-color:  #848383b5;
        transition: all 1s ease-in-out;
      } 
    }
  }
  
  .dev-footer{
    background-color: #dad4d49e;
    color: black;
  }
}