

.movie-list{
  text-align: center;

  section{
    text-align: center;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 0rem;
    margin: 1rem;
  }
  @media (min-width: 600px) {
    section{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 900px) {
    section{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1200px) {
    section{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  article {
    --size: 345px;   /* the size of the image */

    margin: 2rem;
    max-width: --size;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    a{
      text-decoration: none;
    }

    figure{
      padding: 0px;
      margin: 0px;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      img{
        max-height: 15rem;
        display: inline-block;
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
      figcaption{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.457);
        color: white;
        display: block;
        float: left;
        position: relative;
        bottom: 1.5rem;
      }
    }
    p{
      margin: 1rem;
      text-align: left;
    }

    &:hover{
      img{
        transform: scale3d(1.5,1.5,1);
        transition: transform 3s ease-in-out;
      }
      a{
        color: white;
        transition: all 1s ease-in-out;
      }
      transition: all 1s ease-in-out;
    }
  }
}

.movie-details{
  text-align: center;
  section{
    margin-bottom: 3rem;
    figure{
      margin: 0px;
      img{
        width: 100%;
      }
      max-height: 30rem;
      overflow: hidden;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    }
    h2{
      text-align: left;
      font-weight: bold;
      padding-left: 3rem;
    }
    &> aside {
      display: flex;
      p{
        text-align: justify;
        padding-left: 3rem;
        max-width: 60rem;
        flex: 60%;
      }
      .more-info{
        flex: 40%;
        text-align: left;
        margin-left: 4rem;
        display: flex;
        div {
          max-height: 6rem;
          display: flex;
          align-items: center;
          label {
            background-color: #757575;
            color: white;
            padding: 0.5rem;
            border-radius: 2rem;
            font-size: .75rem;
            position: absolute;
            margin-top: 7rem;
            transition: visibility 0s, opacity 0.5s linear;
            visibility: hidden;
            opacity: 0;
            z-index: 100;
          }
          &:hover{
            label{
              visibility:visible;
              opacity: 1;
            }
          }
        }
      }

    }
  }
}

.cargando{
  display: inline-block;
  text-align: center;
  font-size: 2rem;  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #1a1a1ab5;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.errorMessage{
  color: red;
  font-size: 2rem;
}

.percentajeCircular{
  --sizePercentaje: 4rem;
  --sizePercentajeInner: 3rem;
  --fontSizePercentaje: 1rem;

  display: flex;
  height: var(--sizePercentaje);
  .circle {
    position: relative;
    width: var(--sizePercentaje);
    height: var(--sizePercentaje);
    margin: 0.5rem;
    border-radius: 50%;
    background: #757575;
    overflow: hidden;

    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--sizePercentajeInner);
      height: var(--sizePercentajeInner);
      border-radius: 50%;
      font-size: var(--fontSizePercentaje);
      font-weight: 600;
    }
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header{
  nav{
    position: fixed;
    top:0px;
    left: 0px;
    height: 4rem;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    display: flex;
    width: 100%;
    box-sizing:border-box;
    background-color: #1a1a1ab5;
    color:#ffff;
    vertical-align: middle;
    align-items: center;

    h1{
      font-size: 2.2rem;
      padding-left: 2.2rem;
    }

    ul{
      font-size: 1.3rem;
      font-weight: 450;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      li{
        a{
          cursor: pointer;
          &:hover{
            color: #dfdbdbd0;  
          }
        }
      }
    }
  }
}

.dev-footer{
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}

.textFilter{
  label{
    display: none;
  }
  input{
    font-size: 1rem;
    border-radius: 5rem;
    padding: 1rem;
    border-color: #757575;
    &:focus{
      border-color: #757575;
    }
  }
}


@media (prefers-color-scheme: light) {
  .movie-list{
    article {
      background-color: white;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
      
      &:hover{
        background-color: rgba(114, 112, 112, 0.834);
        transition: all 1s ease-in-out;
      }
      
    }
  }

  .dev-footer{
    background-color: #1a1a1a9e;
    color: white;
  }

  .percentajeCircular{
    .inner {
      background: white;
      color: rgba(0, 0, 0, 0.75);
    }
  }
  
}

@media (prefers-color-scheme: dark) {
  header{
    nav{
      background-color: #b1b1b1b5;   
      box-shadow: 0px 2px 4px -1px rgba(255,255,255,0.2),0px 4px 5px 0px rgba(255,255,255,0.14),0px 1px 10px 0px rgba(255,255,255,0.12); 
    }
  }
  .cargando{
    border-top: 16px solid #b1b1b1b5;
  }
  .movie-list{
    article {
      background-color: #585757b5;
      box-shadow: 0px 2px 1px -1px rgba(255,255,255,0.2),0px 1px 1px 0px rgba(255,255,255,0.14),0px 1px 3px 0px rgba(255,255,255,0.12);
      
      &:hover{
        background-color:  #848383b5;
        transition: all 1s ease-in-out;
      } 
    }
  }
  
  .dev-footer{
    background-color: #dad4d49e;
    color: black;
  }

  .percentajeCircular{
    .inner {
      background: black;
      color: rgba(255, 255, 255, 0.75);
    }
  }
}